* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

h1{
    text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=number], input[type=email], input[type=tel], input[type=datetime-local],  textarea   {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,  input[type=number]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=datetime-local]:focus,  textarea:focus{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the register button */
.registerBtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.donor {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  opacity: 0.9;
}

.registerBtn:hover {
  opacity:1;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
      margin-left: 6px;
    }
  }